/* la propiedad scroll-behavior con el valor smooth hara que el desplazamiento no sea brusco 
    en la interacci칩n con el temario*/
html {
    scroll-behavior: smooth;
}

/* Estilo para las etiquetas */
.e {
    color: navy;
}

/* Tipografia para toda la p치gina */
body {
    font-family: sans-serif;
}

img {   
    max-width: 50%;
    height: auto;
}

#temario {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
}

.music-video {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color:indigo
}

/* para ajustar el el tama침o de nuestro video debemos tratar de colocar una imagen del mismo tama침o del reproductor*/
#video {  
    max-width: 100%;
    height: auto;
}

iframe {
    width: 80%; /* 80% de la pantalla (viewport) lo que lo hara responsivo */
    height: 400px;  /* 400 px de altura definidos */
}