/* la propiedad scroll-behavior con el valor smooth hara que el desplazamiento no sea brusco 
    en la interacción con el temario*/
html {
    scroll-behavior: smooth;
}

/* Estilo para las etiquetas */
.e {
    color: navy;
}

/* Tipografia para toda la página */
body {
    font-family: sans-serif;
}

img {   
    max-width: 50%;
    height: auto;
}

#temario {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
}